/* 古诗词卡片 */
#card-poem{
    display: flex;
    flex-direction: column;
    padding: 0.5rem!important;
    min-height: 130px;
}

div#poem_sentence{
    text-align: center;
    line-height: 1.4;
    margin-bottom: 0.5rem;
    padding: 1rem;
    border-radius: 12px;
    background: var(--heo-secondbg);
    min-height: 62px;
}

div#poem_info{
    display: flex;
    color: var(--heo-secondtext);
    font-size: 0.8rem;
    justify-content: center;
    flex-wrap: wrap;
}

div#poem_author{
    order: 1;
    padding: 2px;
    margin-left: 8px;
}

div#poem_dynasty{
    order: 0;
    padding: 2px 4px 2px 6px;
    background: var(--heo-card-btn-bg);
    color: var(--heo-fontcolor);
    border-radius: 8px;
}

div#location{
    /*font-family: serif,cursive;*/
    line-height: 1.4;
    margin-bottom: 0.5rem;
    padding: 1rem;
    border-radius: 12px;
    background-color: #E4E4E1;
    background-image: radial-gradient(at top center, rgba(255,255,255,0.03) 0%, rgba(0,0,0,0.03) 100%), linear-gradient(to top, rgba(255,255,255,0.1) 0%, rgba(143,152,157,0.60) 100%);
    background-blend-mode: normal, multiply;
    min-height: 62px;
    text-align: center;
}
div#location span{
    font-weight: 800;
}
div#location #locations{
    margin-bottom: 10px;
}

